<% provide(:title, "Home") %>

<div class="jumbotron"><p>CNYI helps in Compiling News of Your Interest. It is a customizable news collection website. It displays the recent news according to the already filled in preference of users. The users can choose the type of news they want to see like Tech, Business, etc., and may even choose some sources where they want to see it from. Currently, only news from the Guardian is supported.</p></div>
<div class="jumbotron"><p>CNYI is a project under the Second Edition of Learn It Girl, made using Ruby on Rails. </p></div>

<!-- things will look better after adding css -->

