<% provide(:title, "Home") %>
<div id="topbar">
	<div class="navbar">CNYI</div>
  <!-- signed in, then display name. else-->
	<div class="login">login</div>
	<div class = "register">register</div>
</div>
<div id="content"> 
	<div class="main">##News displayed here##</div>
	<div class="categories">##Categories to be chosen dispayed here##</div>
  <!-- things will look better after adding css -->
</div>
<footer><div class="footer">Aashaka Shah \m/ LITG</div></footer>
