<% provide(:title, "Home") %>

<div class="jumbotron"><h3>##News displayed here##</h3></div>
<div class="jumbotron"><h3>##Categories to be chosen dispayed here##</h3></div>

<!-- things will look better after adding css -->

